body {
	font-family: Helvetica, Arial, Sans-serif;
}

a.button {
	display: inline-block;
	width: 80px;
	background-color: #ff6633;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px; /*rounded corners*/
	margin-left: 10px;
	margin-right: 10px;
	text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

header {
	height: 40px;
	background-color: black;
	color: white;
	display: flex;
	padding: 0.20px;
}

header > * {
	margin: auto 0;
}

header #logo {
	display: flex;
	padding: 10px;
}

header #user-links {
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
}