<form action="/users/reset_password" method="post">
	New Password:			<input type="password" name="password">
	Confirm Password:	<input type="password" name="password_confirmation">
										<input type="hidden" name="password_token" value=<%= @token %>>
	<input type="submit" value="Reset password">
</form>